<th:block th:fragment="meta">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</th:block>


<th:block th:fragment="title">
    <title th:switch="${route}">
        <th:block th:case="game_app">Game</th:block>
        <th:block th:case="home">Alien VS Predator</th:block>
        <th:block th:case="about">About AvsP project</th:block>
        <th:block th:case="*">Ups...</th:block>
    </title>
</th:block>

<th:block th:fragment="style">
    <link href="css/app.css" rel="stylesheet"/>
</th:block>
